html {
    heigt: 100%;
}

body {
    background: #fafafa;
    background-image: url("../imagens/bg-login.png");
    background-repeat: no-repeat;
    background-position: right top;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', helvetica, arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#corpo  {
    text-align: center;
}

.hidden {
    display: none;
}

/* ===================================
    Resets
=================================== */

ul, ol, li {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
}

.ms_menu_bar__wrapper {
    height: 100%;
    width: 60px;
    background: #2B1F34;
    padding: 15px 10px;
    float: left;
    position: relative;
    z-index: 10;
}

    .ms_menu__trigger {
        font-size: 30px;
        text-align: center;
        cursor: pointer;
        transition: color 0.6s;
    }

        .ms_menu__trigger:hover {
            color: #776e9b;
        }

    .ms_menu__item-icon {
        margin-right: 10px;
    }

.ms_menu_body__wrapper {
    float: left;
    /*background: rgba(24, 88, 109, 0.8);*/
    background: #2B1F34;
    position: relative;
    left: -1px;
}

    .ms_menu__item {
        border-bottom: 1px solid #37616A;
        padding: 15px 40px 15px 15px;
        font-size: 14px;
        cursor: pointer;
        transition: background 0.6s;
    }

    .ms_menu__item:hover {
        background: #776e9b;
    }

    .hide-menu {
        opacity: 0;
        transition: all 0.06s;
        position: relative;
        z-index: 0;
        left: -90px;
        
    }

    .show-menu {
        transition: all 0.1s;
        left: -1px;
        z-index: 99;
    }

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    /*background: #4CAF50;*/
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 0px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 250px;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 400px;
    width: 500px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 45%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}